<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="kubot22">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.13487757053926 -0.0336202311608078 0.106920714353761"
        rpy="0 0 0" />
      <mass
        value="1.17505" />
      <inertia
        ixx="0.20187594"
        ixy="0.00204035"
        ixz="0.03258144"
        iyy="0.20704679"
        iyz="0.01236818"
        izz="0.00947106" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="L_P_Link">
    <inertial>
      <origin
        xyz="0.0101942341044289 -2.22044604925031E-16 -0.000142768980480532"
        rpy="0 0 0" />
      <mass
        value="0.03344" />
      <inertia
        ixx="0.00426562"
        ixy="-0.00000701"
        ixz="0.00020824"
        iyy="0.00425856"
        iyz="-0.00014673"
        izz="0.00003217" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_P_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_P_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LP"
    type="revolute">
    <origin
      xyz="0.159485615221285 0.0404744286028535 0.156960053259992"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="L_P_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Pm_Link">
    <inertial>
      <origin
        xyz="0.00707717713304501 3.85239838591456E-05 -0.0151561501062952"
        rpy="0 0 0" />
      <mass
        value="0.26897" />
      <inertia
        ixx="0.02468616"
        ixy="0.00012416"
        ixz="0.00140937"
        iyy="0.02438236"
        iyz="0.00211844"
        izz="0.00054743" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_Pm_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_Pm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LPm"
    type="revolute">
    <origin
      xyz="-0.0325199999999994 0 -0.0344999999999993"
      rpy="0 0 0" />
    <parent
      link="L_P_Link" />
    <child
      link="L_Pm_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_Pd_Link">
    <inertial>
      <origin
        xyz="2.38804326063713E-06 -0.0233215850886279 -0.0985654144211849"
        rpy="0 0 0" />
      <mass
        value="0.20444" />
      <inertia
        ixx="0.01321813"
        ixy="0.00000284"
        ixz="0.00088862"
        iyy="0.01336593"
        iyz="0.00004082"
        izz="0.00018961" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_Pd_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_Pd_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LPd"
    type="revolute">
    <origin
      xyz="0.0327000000000002 0.0234999999999997 0"
      rpy="0 0 0" />
    <parent
      link="L_Pm_Link" />
    <child
      link="L_Pd_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_K_Link">
    <inertial>
      <origin
        xyz="9.15933995315754E-16 -0.0259000000000005 -0.0669817464987959"
        rpy="0 0 0" />
      <mass
        value="0.05316" />
      <inertia
        ixx="0.00077209"
        ixy="-0.00000119"
        ixz="0.00009953"
        iyy="0.00081495"
        iyz="-0.00000881"
        izz="0.00005250" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_K_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_K_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LK"
    type="revolute">
    <origin
      xyz="0 0.00259999999999899 -0.138"
      rpy="0 0 0" />
    <parent
      link="L_Pd_Link" />
    <child
      link="L_K_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_A_Link">
    <inertial>
      <origin
        xyz="-0.0259666104120727 -0.0259475134476136 0.0156397822927297"
        rpy="0 0 0" />
      <mass
        value="0.32297" />
      <inertia
        ixx="0.00147506"
        ixy="0.00014786"
        ixz="0.00027470"
        iyy="0.00107445"
        iyz="0.00045930"
        izz="0.00067308" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_A_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_A_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LA"
    type="revolute">
    <origin
      xyz="0 0 -0.143"
      rpy="0 0 0" />
    <parent
      link="L_K_Link" />
    <child
      link="L_A_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L_F_Link">
    <inertial>
      <origin
        xyz="0.0310640975062315 0.0143937054527845 -0.0343821494549726"
        rpy="0 0 0" />
      <mass
        value="0.05026" />
      <inertia
        ixx="0.00009006"
        ixy="-0.00000009"
        ixz="0.00000358"
        iyy="0.00004304"
        iyz="-0.00000010"
        izz="0.00011931" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_F_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/L_F_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LF"
    type="revolute">
    <origin
      xyz="-0.0302000000025354 -0.0259999999982274 0"
      rpy="0 0 0" />
    <parent
      link="L_A_Link" />
    <child
      link="L_F_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_P_Link">
    <inertial>
      <origin
        xyz="0.010194234104429 -6.93889390390723E-17 -0.000142768980477243"
        rpy="0 0 0" />
      <mass
        value="0.03344" />
      <inertia
        ixx="0.00426562"
        ixy="-0.00004705"
        ixz="0.00139703"
        iyy="0.00471011"
        iyz="-0.00014673"
        izz="0.00048372" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_P_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_P_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RP"
    type="revolute">
    <origin
      xyz="0.159485615221284 0.0404744286028528 0.056960053259992"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="R_P_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Pm_Link">
    <inertial>
      <origin
        xyz="0.00707717626302978 -3.85248505976876E-05 -0.0151561501067035"
        rpy="0 0 0" />
      <mass
        value="0.26897" />
      <inertia
        ixx="0.02468616"
        ixy="0.00083301"
        ixz="0.00948308"
        iyy="0.02801694"
        iyz="0.00211844"
        izz="0.00418201" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_Pm_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_Pm_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RPm"
    type="revolute">
    <origin
      xyz="-0.0325199999999994 0 -0.0345000000000015"
      rpy="0 0 0" />
    <parent
      link="R_P_Link" />
    <child
      link="R_Pm_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_Pd_Link">
    <inertial>
      <origin
        xyz="-2.38804325317088E-06 0.0233215850886161 -0.0985654144211578"
        rpy="0 0 0" />
      <mass
        value="0.20444" />
      <inertia
        ixx="0.01330213"
        ixy="0.00001927"
        ixz="0.00603142"
        iyy="0.01621457"
        iyz="0.00004106"
        izz="0.00295260" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_Pd_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_Pd_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RPd"
    type="revolute">
    <origin
      xyz="0.0326999999999998 -0.0234999999999854 0"
      rpy="0 0 0" />
    <parent
      link="R_Pm_Link" />
    <child
      link="R_Pd_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_K_Link">
    <inertial>
      <origin
        xyz="-1.91668902971287E-12 0.0258999999999996 -0.0760182535012041"
        rpy="0 0 0" />
      <mass
        value="0.05316" />
      <inertia
        ixx="0.00077209"
        ixy="-0.00000845"
        ixz="0.00070724"
        iyy="0.00153701"
        iyz="-0.00000881"
        izz="0.00077456" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_K_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_K_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RK"
    type="revolute">
    <origin
      xyz="0 -0.00260000000000109 -0.138"
      rpy="0 0 0" />
    <parent
      link="R_Pd_Link" />
    <child
      link="R_K_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_A_Link">
    <inertial>
      <origin
        xyz="-0.0259699076687473 0.0259442161897109 0.0156397822937843"
        rpy="0 0 0" />
      <mass
        value="0.32297" />
      <inertia
        ixx="0.00147506"
        ixy="0.00104362"
        ixz="0.00194352"
        iyy="0.00546325"
        iyz="0.00045935"
        izz="0.00506188" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_A_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_A_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RA"
    type="revolute">
    <origin
      xyz="0 0 -0.143"
      rpy="0 0 0" />
    <parent
      link="R_K_Link" />
    <child
      link="R_A_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_F_Link">
    <inertial>
      <origin
        xyz="0.0310642516260749 -0.0143882402101243 -0.0343879845773217"
        rpy="0 0 0" />
      <mass
        value="0.05026" />
      <inertia
        ixx="0.00009005"
        ixy="-0.00000061"
        ixz="0.00001208"
        iyy="0.00089976"
        iyz="-0.00000010"
        izz="0.00097602" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_F_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://kubot22/meshes/R_F_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RF"
    type="revolute">
    <origin
      xyz="-0.0302 0.026 0"
      rpy="0 0 0" />
    <parent
      link="R_A_Link" />
    <child
      link="R_F_Link" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
